<!-- Possibilities are presented below:
- String interpolation (has to use the string): '{{ variableFromTsFile }}'
- Property binding: <button disabled /> ==> <button [disabled]="diabledBoolVarFromTs" />
- Event binding: <button (click)="methodFromTsFile()" />
- Event binding (passing data): <input type="text" (input)="onInputClickMethod($event)" /> and in ts file:
onInputClickMethod(event: Event) {}
- Two way binding (requires FormsModule to be added to imports): <input type="text" [(ngModel)]="varFromTs" />
ngModel is a directive (directives are instructions in the DOM), components are directives.
- conditions: ngIf has a * because its a structural directive (that changes the dom)
<p *ngIf="boolInTsFile; else somElse">Something</p>
<ng-template #somElse>
    <p>Something else</p>
</ng-template>
- ngStyle directive: <p [ngStyle]={backgroundColor: getColorFromTsMethod()}>Something</p>
- ngClass directive: <p [ngClass]={classFromCSS: getBoolFromTsMethod()}>Something</p>
- ngFor directive: <app-server *ngFor="let server of servers; let i = index"></app-server>

The MDN (Mozilla Developer Network) offers nice lists of all properties and events of 
the element you're interested in. Googling for YOUR_ELEMENT properties  or YOUR_ELEMENT events  
should yield nice results.
-->
<app-header></app-header>